* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ccc;
}

.home {
  width: 90%;
  margin: 0 auto;
}
.home header {
  text-align: center;
  margin: 1rem 0;
}
.home header .game-name {
  text-transform: uppercase;
  color: #f2395a;
  transform: skew(-5deg, -5deg) rotate(5deg);
  transform-origin: center center;
  text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31, 4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #890920, 7px 7px #890920, 8px 8px 9px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  word-spacing: 5px;
}
.home header .restart-wrapper {
  margin: 15px auto;
}
.home header .restart-wrapper button {
  color: red;
  padding: 5px 15px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  border: 2px solid;
  transition: all 0.5s ease;
  box-shadow: 4px 4px 10px red;
  outline: none;
}
.home header .restart-wrapper button:hover {
  background-color: red;
  color: #d9ff00;
}
.home header .score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 15px;
}
.home header .score p {
  padding: 10px;
  border-radius: 15px;
  margin: 0 5px;
  font-weight: bold;
}
.home header .score p:hover {
  background-color: transparent;
}
.home header .score p:first-child {
  background-color: #003699;
  color: #0db675;
  border: 2px solid;
}
.home header .score p:last-child {
  background-color: #333333;
  color: gray;
  border: 2px solid;
}
.home main {
  text-align: center;
}
.home main .chosen {
  color: chocolate;
  font-size: 24px;
}
.home main .choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.home main .choice .choises {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home main .choice .choises div {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 50px;
  background: white;
  border: 5px solid #f0d019;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 470px) {
  .home main .choice .choises div {
    width: 90px;
    height: 90px;
    font-size: 44px;
  }
}
@media only screen and (max-width: 350px) {
  .home main .choice .choises div {
    width: 75px;
    height: 75px;
    font-size: 38px;
  }
}
.home main .choice .choises div:hover {
  color: #003699;
  background: radial-gradient(aqua, #d9ff00);
}
.home .display-none {
  display: none;
}
.home .modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.home .modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: #5dd19b;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.5s;
  transition: 0.5s;
}
.home .modal .modal-content .win {
  color: green;
}
.home .modal .modal-content .lose {
  color: red;
}
.home .modal .modal-content .Draw {
  color: #333333;
}
.home .modal .modal-content .icon {
  margin: 5px auto;
  color: #dda304;
  font-size: 45px;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home .modal .modal-content .close-modal {
  margin-top: 5px;
  padding: 5px 15px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #003699;
  color: white;
  font-weight: bold;
}
.home .modal .modal-content .close-modal:hover {
  cursor: pointer;
  color: #003699;
  background-color: transparent;
}

/*# sourceMappingURL=home.css.map */
